# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your Supabase database.
POSTGRES_URL="postgresql://postgres:[YOUR_PASSWORD]@db.kezdqjotzmmdxvyfonvf.supabase.co:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL=https://kezdqjotzmmdxvyfonvf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtlemRxam90em1tZHh2eWZvbnZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU5MTIwOTgsImV4cCI6MjA1MTQ4ODA5OH0.GzC-XCzGwcjAYb_LmWKYrXlItJjxeJohi4Daot730wg

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
AUTH_SECRET='supersecret'

# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/discord
AUTH_DISCORD_ID=''
AUTH_DISCORD_SECRET=''

# In case you're using the Auth Proxy (apps/auth-proxy)
# AUTH_REDIRECT_PROXY_URL='https://auth.your-server.com/r'